@font-face {
    font-family: "interRegular";
    src: url(./Inter/Inter-Regular.ttf);
}
@font-face {
    font-family: "interMedium";
    src: url(./Inter/Inter-Medium.ttf);
}
@font-face {
    font-family: "interSemiBold";
    src: url(./Inter/Inter-SemiBold.ttf);
}